page-intro {
    .slide_image img {
        width: 240px;
    }
    button.btn {
        background-color: teal;
        width: 80px;
        height: 25px;
        font-size: 0.8em;
        color:  white;
        font-weight: bold;
    }
}
